In [2]:
import pandas as pd
import invest

In [3]:
input_code = 'AAPL'
input_time = '2010-01-01'

In [4]:
df = invest.load_data(input_code, input_time)

In [5]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,6.422877,6.455077,6.391279,6.440331,493729600,0.0,0.0
2010-01-05 00:00:00-05:00,6.458086,6.487879,6.417459,6.451466,601904800,0.0,0.0
2010-01-06 00:00:00-05:00,6.451467,6.477046,6.342227,6.348847,552160000,0.0,0.0
2010-01-07 00:00:00-05:00,6.372319,6.379843,6.291066,6.337109,477131200,0.0,0.0
2010-01-08 00:00:00-05:00,6.328683,6.379842,6.291368,6.379240,447610800,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-24 00:00:00-04:00,221.000000,221.479996,218.580002,220.729996,44299500,0.0,0.0
2025-03-25 00:00:00-04:00,220.770004,224.100006,220.080002,223.750000,34493600,0.0,0.0
2025-03-26 00:00:00-04:00,223.509995,225.020004,220.470001,221.529999,34466100,0.0,0.0
2025-03-27 00:00:00-04:00,221.389999,224.990005,220.559998,223.850006,37094800,0.0,0.0
2025-03-28 00:00:00-04:00,221.669998,223.809998,217.679993,217.899994,39784100,0.0,0.0

In [6]:
invest_class = invest.Invest(
    df, _col = 'Close', _start = input_time
)

In [7]:
input_type = 'boll'

In [11]:
if input_type == 'bnh':
    result = invest_class.buyandhold()
elif input_type == 'boll':
    result = invest_class.bollinger()
elif input_type == 'mmt':
    result = invest_class.momentum()

매수일 : 2010-08-24 04:00:00, 매수가 : 7.220358371734619
매도일 : 2010-09-08 04:00:00, 매도가 : 7.912208557128906
수익율 : 1.0958193693131157
매수일 : 2011-03-16 04:00:00, 매수가 : 9.931188583374023
매도일 : 2011-07-01 04:00:00, 매도가 : 10.329927444458008
수익율 : 1.040150165082105

c:\Users\Administrator\AppData\Local\Programs\Python\Python311\Lib\site-packages\invest\__init__.py:82: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.0958193693131157' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.loc[idx, 'rtn'] = rtn

매수일 : 2011-11-14 05:00:00, 매수가 : 11.413297653198242
매도일 : 2011-12-27 05:00:00, 매도가 : 12.2339506149292
수익율 : 1.0719032296070008
매수일 : 2012-04-16 04:00:00, 매수가 : 17.45819664001465
매도일 : 2012-06-18 04:00:00, 매도가 : 17.62822914123535
수익율 : 1.0097394080686997
매수일 : 2012-10-08 04:00:00, 매수가 : 19.287288665771484
매도일 : 2013-07-29 04:00:00, 매도가 : 13.765029907226562
수익율 : 0.7136840302315227
매수일 : 2013-09-11 04:00:00, 매수가 : 14.472299575805664
매도일 : 2013-10-18 04:00:00, 매도가 : 15.746529579162598
수익율 : 1.088046132315223
매수일 : 2014-01-03 05:00:00, 매수가 : 16.83721351623535
매도일 : 2014-03-25 04:00:00, 매도가 : 17.063554763793945
수익율 : 1.0134429160347906
매수일 : 2014-10-15 04:00:00, 매수가 : 21.604068756103516
매도일 : 2014-10-23 04:00:00, 매도가 : 23.21872901916504
수익율 : 1.0747387115496638
매수일 : 2014-12-12 05:00:00, 매수가 : 24.409412384033203
매도일 : 2015-01-28 05:00:00, 매도가 : 25.650678634643555
수익율 : 1.0508519513326053
매수일 : 2015-03-11 04:00:00, 매수가 : 27.299570083618164
매도일 : 2015-04-23 04:00:00, 매도가 : 28.95890235900879
수익율 : 1.0607823592206074
매수일 : 2015-06-29 04:00:00, 매수가 : 27.927160263061523
매도일 : 2015-07-20 04:00:00, 매도가 : 29.61808967590332
수익율 : 1.0605478465018996
매수일 : 2015-08-04 04:00:00, 매수가 : 25.709232330322266
매도일 : 2015-10-22 04:00:00, 매도가 : 26.019338607788086
수익율 : 1.0120620590098317
매수일 : 2015-12-14 05:00:00, 매수가 : 25.447467803955078
매도일 : 2016-03-01 05:00:00, 매도가 : 22.8673152923584
수익율 : 0.8986086737008989
매수일 : 2016-04-27 04:00:00, 매수가 : 22.25087547302246
매도일 : 2016-05-24 04:00:00, 매도가 : 22.404664993286133
수익율 : 1.0069116165990921
매수일 : 2016-06-20 04:00:00, 매수가 : 21.763872146606445
매도일 : 2016-07-18 04:00:00, 매도가 : 22.846345901489258
수익율 : 1.0497371859010667
매수일 : 2016-09-09 04:00:00, 매수가 : 23.729412078857422
매도일 : 2016-09-14 04:00:00, 매도가 : 25.717409133911133
수익율 : 1.0837777627379563
매수일 : 2016-11-01 04:00:00, 매수가 : 25.652982711791992
매도일 : 2016-12-13 05:00:00, 매도가 : 26.640409469604492
수익율 : 1.0384916938862867
매수일 : 2017-06-09 04:00:00, 매수가 : 34.747344970703125
매도일 : 2017-07-13 04:00:00, 매도가 : 34.46513366699219
수익율 : 0.9918781908675647
매수일 : 2017-09-20 04:00:00, 매수가 : 36.54393005371094
매도일 : 2017-10-16 04:00:00, 매도가 : 37.4360466003418
수익율 : 1.0244121676382276
매수일 : 2018-01-29 05:00:00, 매수가 : 39.4693603515625
매도일 : 2018-05-04 04:00:00, 매도가 : 43.37483215332031
수익율 : 1.0989494576798533
매수일 : 2018-06-25 04:00:00, 매수가 : 43.14889907836914
매도일 : 2018-08-01 04:00:00, 매도가 : 47.7274169921875
수익율 : 1.10610972728418
매수일 : 2018-11-02 04:00:00, 매수가 : 49.31618881225586
매도일 : 2019-01-30 05:00:00, 매도가 : 39.4155387878418
수익율 : 0.7992413796997713
매수일 : 2019-05-13 04:00:00, 매수가 : 44.65937042236328
매도일 : 2019-07-31 04:00:00, 매도가 : 51.2288932800293
수익율 : 1.1471028990228735
매수일 : 2019-08-05 04:00:00, 매수가 : 46.49171829223633
매도일 : 2019-09-11 04:00:00, 매도가 : 53.97010803222656
수익율 : 1.1608542341451606
매수일 : 2020-02-24 05:00:00, 매수가 : 72.36202239990234
매도일 : 2020-04-14 04:00:00, 매도가 : 69.6610107421875
수익율 : 0.9626736295070922
매수일 : 2020-10-30 04:00:00, 매수가 : 106.14925384521484
매도일 : 2020-12-02 05:00:00, 매도가 : 120.22220611572266
수익율 : 1.1325770249033382
매수일 : 2021-02-22 05:00:00, 매수가 : 123.25833129882812
매도일 : 2021-04-07 04:00:00, 매도가 : 125.11699676513672
수익율 : 1.015079430710468
매수일 : 2021-05-04 04:00:00, 매수가 : 125.06806945800781
매도일 : 2021-06-14 04:00:00, 매도가 : 127.85765075683594
수익율 : 1.022304504346449
매수일 : 2021-09-20 04:00:00, 매수가 : 140.27706909179688
매도일 : 2021-10-19 04:00:00, 매도가 : 145.98866271972656
수익율 : 1.0407165167115948
매수일 : 2022-01-19 05:00:00, 매수가 : 163.3712921142578
매도일 : 2022-03-24 04:00:00, 매도가 : 171.29443359375
수익율 : 1.0484977585532649
매수일 : 2022-04-26 04:00:00, 매수가 : 154.2998046875
매도일 : 2022-07-21 04:00:00, 매도가 : 153.0975341796875
수익율 : 0.9922082175654893
매수일 : 2022-08-30 04:00:00, 매수가 : 156.823486328125
매도일 : 2022-10-25 04:00:00, 매도가 : 150.33970642089844
수익율 : 0.958655555624746
매수일 : 2022-12-15 05:00:00, 매수가 : 134.93115234375
매도일 : 2023-01-23 05:00:00, 매도가 : 139.48818969726562
수익율 : 1.0337730559204454
매수일 : 2023-08-04 04:00:00, 매수가 : 180.4222412109375
매도일 : 2023-08-31 04:00:00, 매도가 : 186.50308227539062
수익율 : 1.0337033894692829
매수일 : 2023-10-26 04:00:00, 매수가 : 165.67572021484375
매도일 : 2023-11-10 05:00:00, 매도가 : 185.28756713867188
수익율 : 1.1183749006697905
매수일 : 2024-01-02 05:00:00, 매수가 : 184.53207397460938
매도일 : 2024-05-03 04:00:00, 매도가 : 182.5181884765625
수익율 : 0.9890865286740127
매수일 : 2024-08-05 04:00:00, 매수가 : 208.5690155029297
매도일 : 2024-09-30 04:00:00, 매도가 : 232.48831176757812
수익율 : 1.1146828842576209
매수일 : 2024-11-04 05:00:00, 매수가 : 221.52244567871094
매도일 : 2024-11-26 05:00:00, 매도가 : 234.8018341064453
수익율 : 1.059946017601279
매수일 : 2025-01-10 05:00:00, 매수가 : 236.58987426757812
투자기간 : 2010-01-01 00:00:00 ~ 2025-03-31 10:43:58.224723, 총 수익율 : 2.8772914558032485

In [10]:
result.tail()

,Close,center,up,down,trade,rtn,acc_rtn
Date,,,,,,,
2025-03-24 04:00:00,220.729996,226.7070,251.040841,202.373159,buy,1.0,2.877291
2025-03-25 04:00:00,223.750000,225.5425,247.930642,203.154359,buy,1.0,2.877291
2025-03-26 04:00:00,221.529999,224.6010,245.923835,203.278166,buy,1.0,2.877291
2025-03-27 04:00:00,223.850006,223.9285,244.396214,203.460786,buy,1.0,2.877291
2025-03-28 04:00:00,217.899994,222.7315,241.519905,203.943095,buy,1.0,2.877291